/* common css for all mobiles */
@media only screen and (max-width: 767px) and (min-width: 319px) {
  /* main page  */
  section.container{
    margin: 0px;
}
.logo {
  width: 120px;
}
.logo img {
  top: 25%;
}
  div.firstfoot-left {
    display: inline-block;
    justify-content: center;
  }
  div.icon {
  text-align: center;
  }
  p.lowtxt {
    margin-left: 0px;
    font-size: 0.7em;
    text-align: center;
  }
  div.social-icon {
    justify-content: center;
    width: 410px;
  }
div.details {
  display: inline-block;
  margin: 0px;
}
div.Mainfooter {
  display: grid;
  /* align-items: center; */
  /* margin: 0px 0px; */
  justify-content: center;
}
div.first-foot1 img{
  align-items: center;
  margin-left: 20px;
}
.form-container input[type=text], .form-container input[type=number] {
  width: 16px;
  height: 27px;
  padding: 2px 2px 2px 13px;
  margin: 15px 5px 10px 4px;
  border: 1px solid rgb(141, 135, 135);
}
.form-container {
  width: 85vw;
  padding: 10px 10px;
  border-radius: 10px;
}

div.icon .fa-envelope, div.icon .fa-question-circle, div.icon .fa-phone{
  font-size: 1.3rem;
}

div.social .fa-facebook,div.social .fa-twitter,div.social .fa-instagram{
  font-size: 1.2rem;
}

.topnav input[type=text] {
  padding: 10px 8px;
  font-size: 14px;
  width: 160px;
  background-color: rgb(248, 248, 248);
}
.topnav {
  margin: 0 7px;
  padding: 0px 5px;
}
.topnav .search-container button {
  padding: 10px 5px;
  margin-right: 16px;
  background: rgb(248, 248, 248);
  font-size: 14px;
}
span.notif_enqlist {
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 12px;
}
.form-popup {
  position: absolute;
  top: 28%;
  left: 5%;
  margin: auto;
  border-radius: 10px;
}
.first-foot1, .txt-foot {
  margin: 0px 0 0px 0px;
  padding: 0px 0px;
  width: 100%;
  text-align: center;
}
div.firstfoot1{
  margin: 8px auto;
  width: 100%;
  text-align: center;
}
p.uptxt {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}
#foot-hr{
  display: none;
}
.txt-foot p {
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(161, 161, 161);
}
p#p-size{
  font-size: 1em;
}
.enq_nav{
  display: none;
}
#shopping-bag {
  margin-left: 1.4em;
  margin-right: 15px;
}
.enq_nav1{
  display: inline-block !important;
}
.logo img {
  max-width: 90%;
  max-height: 90%;
}

/* nofication */
.pg2_pop_enq {
  margin: 0px 10px;
}
p.pg5_notif_title {
  font-size: 0.7em;
}
.pg5_notif_pro_img_con {
  height: 70px;
  width: 70px;
}
.pg5_notif_tickmark img.vector {
  top: 13px;
  left: 10px;
}
.pg5_notif_sec1 {
  width: 100%;
  justify-content: space-evenly;
}
.pg5_notif_container {
  flex-direction: column;
  padding: 10px;
  margin: 30px 0px;
}
.pg5_notif_sec2 {
  width: 65%;
  align-self: flex-end;
  font-size: 0.7em;
}
button.pg5_notif_button2 {
  width: 44%;
  height: fit-content;
  padding: 4px 2px;
}
button.pg5_notif_button1 {
  width: 111px;
  height: 23px;
  padding: 2px;
  margin-right: 8px;
}
p.pg5_notif_subtitle {
  font-size: 0.7em;
}

/* fifthpage */
.product_img {
  width: 100%;
  border-radius: 4px;
}
ol.product_solo_cont {
  width: 100%;
}


.btn-2 {
  padding: 8px 25px;
  left: 10%;
}
.product_cont_ul {
  padding: 20px 10px;
  justify-content: space-between;
}
.product_cont_ul_li {
  margin: 0px 0px 20px 0px;
  width: 48%;
}
.product_heading {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5em;
}
.product_price {
  font-size: 14px;
}
p#filter-para{
  font-size: 14px;
}
.clear {
  font-size: 14px;
  display: inline-block;
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.selectdiv {
  position: relative;
  float: left;
  width: 65%;
}
#pricesortlist {
  margin: 15px 0px 20px 0px;
  width: 140px;
}
.price_filter {
  padding: 15px;
}
.small_img {
  width: 30px;
}
li.sec_pg_img_li {
  width: 150px;
  height: 150px;
}
.sec_pg_small_img {
  width: 20px;
  border: 2px solid rgb(213, 213, 213);
}
li.sec_pg_ol_li1 p {
  font-size: 0.6em;
  line-height: 1.5em;
  margin-top: 7px;
}
.sec_pg_ol_li3 ul li {
  padding: 3px 0px;
  font-size: 14px;
}
.sec_pg_ol_li3 ul {
  padding-bottom: 15px;
}
.pr_detail_btn {
  padding: 10px 10px;
  font-size: 10px;
}
.sec_pg_ol_li5 {
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}
.sec_pg_img {
  border: none;
  border-radius: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.sec_pg_cont {
  width: 80%;
  height: 28%;
  padding: 20px 20px;
}
.sec_pg_ul_li {
  width: 48%;
}
.sec_pg_ol_input {
  height: 20px;
  width: 20px;
  border-radius: 0.2em;
  border: 1px solid;
  margin-right: 5px;
  padding: 0px 20px;
}
.pr_detail_hr {
  display: none;
}
li.sec_pg_ol_li4 {
  padding: 0px 20px;
}
.sec_pg_ol_li1 {
  padding: 0px 0px 10px 0px;
}
.close {
  font-size: 2em;
  cursor: pointer;
  color: black;
  position: absolute;
  right: 10px;
  top: 0;
}

/* enquiry-list  */
.eqnlist {
  padding: 12px;
}
p.enqlist-title {
  font-size: 0.8em;
  width: 100%;
}
.pro-img-cont {
  width: 75px;
  height: 75px;
  margin-right: 15px;
}
li.enqlistcont-sec4 {
  font-size: 1.5em;
}
li.enqlistcont-sec3 {
  width: 21%;
  vertical-align: bottom;
  font-size: 0.8em;
}
button.pg6_notif_button2 {
  float: none;
  font-size: 1em;
  padding: 10px 5px;
  width: 100%;
}

/* enquiry form  */
.container1 {
  display: grid;
  grid-template-columns: none;
  width: 100%;
}
section.home {
  margin: 20px 0px 30px 0px;
  padding: 0 0px;
}
.wcon {
  width: 100%;
  padding: 10px 15px;
  margin-top: 9px;
}
input#tnc-accept {
  width: 15px;
  height: 15px;
  position: absolute;
  left: -1%;
  top: -1px;
}
p.para {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 20px 10px 20px;
  position: relative;
}

/* confirmation alert  */
.alert {
  padding: 20px 20px;
  background-color: #ebe9e9;
  color: black;
  width: 80vw;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 5%;
}
#para {
  font-size: 14px;
  padding: 15px 0px;
}
/* full details page  */
.pg5_upper_ul {
padding: 15px 7px;
}
h1#product_mainTitle {font-size: 0.9em;}
.pg5_middle_cont {
padding: 10px 5px;
}
p.ftext {
line-height: 1.2em;
font-size: 0.7rem;
}
.pg5_middle_ul2 {display: flex;line-height: 1em;flex-direction: row;justify-content: space-between;font-size: 0.9em;}
li.pg5_product_imgcontianer {width: 35%;}
.pg5_middle_ul_li2 {width: 60%;height: 45vh;}
.walletimgcont {
margin-top: 0px;
}
.storeimgcont {
margin-bottom: 4px;
}
.pg5_middle_h3 {
font-size: 0.8em;
}
.moreless-button {font-size: 0.8em;position: absolute;left: 25%;}
.pg5_payment_details {bottom: 80px;font-size: 0.8em;}
.pg5_readmore_button {text-align: center;font-weight: bold;position: absolute;bottom: 40px;left: -15px;right: 0;z-index: 1;background: white;width: 106%;height: 170px;box-shadow: 0px -20px 0px 0px rgb(255 255 255 / 0.6);}
.pg5_product_imgbox {
position: relative;
height: 130px;
}
ol#more li {
font-size: 0.9em;
line-height: 1.4em;
}
ol.pg5_middle_list_dots1 li {font-size: 0.9em;line-height: 1.5em;}

.pg5_middle_ul3 {display: grid;grid-template-columns: repeat(3,auto);padding-top: 10px;margin-bottom: 0px;}
.pg5_middle_ul3_li1 {
margin-right: 4px;
}
li.pg5_product_descpt1 {margin: 10px 0px 0px 0px;width: 100%;font-size: 0.8em;}
h3{
font-size: 1em;
}
ol.product_solo_cont li {
  margin-bottom: 8px;
}
ol.product_solo_cont li {
  margin-bottom: 8px;
}

.img_container {
  width: 100%;
}
.sec_pg_img_ul li {
    margin: 10px 0px;
}

img.sec_pg_small_img:hover {
    padding: 3px;
    border: 2px solid #99cc00;
    width: 15px;
    border-radius: 4px;
    margin: 0;
}
ul.sec_pg_cont_ul {
    justify-content: space-between;
}

p#prod_pg_pop_price {
    font-size: 0.7em;
}

a#product_fullDetails {
    font-size: 10px;
    border-bottom: 1px solid black;
}
#sec_pg_smlimgcont{
  height: 0;
}
li.sec_pg_ol_li2 {
    margin-bottom: 5px;
}
li.sec_pg_ul_li.det-l2 {
    width: 45%;
}

p.stockquant {
    font-size: 10px;
}
.enqlistcont-sec2-mob,.enqlistcont-sec3-mob{
  display: block;
}
.enqlistcont-sec2,.enqlistcont-sec3{
  display: none !important;
}
li.enqlistcont-sec3-mob {
    display: flex;
    justify-content: initial;
}

.enqlist-input {
    margin-right: 20px;
}
}
.selectdiv:after {
    top: 15px;
}
/* comman comman */
@media only screen and (min-width: 414px) and (max-width: 766px) {
span.notif_enqlist {
  top: 30px;
  right: 18px;
}
/* fifthpage */
.product_cont_ul_li {
  margin: 0px 0px 20px 0px;
}

#pricesortlist {
  margin: 15px 0px 15px 0px;
}
li.sec_pg_ol_li1 p {
  font-size: 0.9em;
}

/* nofication */
.pg5_notif_sec2 {
  width: 60%;
  margin-left: 140px;
}
.selectdiv {
  width: 75%;
}
.product_cont_ul_li {
    margin: 0px 0px 20px 0px;
}
}

@media only screen and (min-width: 375px) and (max-width: 410px) {

div.social-icon {
width: 372px;
}
div.details {
  padding: 20px 10px;
}
.form-container {
  width: 85vw;
  padding: 20px 10px;
}
.form-popup {
  left: 5%;
}
.txt-foot p {
  font-size: 12px;
}
span.notif_enqlist {
  position: absolute;
  top: 28px;
  right: 17px;
  font-size: 14px;
}
#shopping-bag {
margin-left: 2em;
margin-right: 15px;
}

li.sec_pg_ol_li4 {
padding: 0px 15px;
}
/* product list  */
.product_img {
  width: 170px;
}
ol.product_solo_cont {
  width: 100%;
}
.selectdiv {
  width: 73%;
}
h4.product_heading {
    font-size: 0.8em;
}
}

@media only screen and (width: 411px){
div.social-icon {
  width: 410px;
}
div.Mainfooter {
  margin: 0px 65px;
}
span.notif_enqlist {
  top: 30px;
  right: 20px;
}
.clear {
margin-left: 30px;
}
.first-foot1, .txt-foot {
  margin: 0px 0 0px 15px;
}
.form-container {
  padding: 10px 10px;
}
.form-popup {
  left: 5%;
}
ol.product_solo_cont {
}
.pg5_middle_ul_li2 {
    height: 35vh;
}
}

@media only screen and (min-width: 360px) and (max-width: 374px) {

  div.social-icon {
    width: 359px;
  }
div.details {
  padding: 20px 7px;
}
div.first-foot1 img{
  margin-left: 20px;
}

.topnav input[type=text] {
  font-size: 12px;
}
.topnav .search-container button {
  font-size: 12px;
}
span.notif_enqlist {
right: 17px;
}
.txt-foot p {
  font-size: 12px;
}
#shopping-bag {
  margin-left: 1.9em;
  margin-right: 13px;
}
.pg5_notif_tickmark img.vector {
  top: 12px;
  left: 10px;
}

.btn-2 {
  padding: 7px 15px;
  bottom: 7%;
  left: 20%;
}
ol.product_solo_cont {
}
.product_img {
}
.product_cont_ul {
}
.small_img {
  width: 25px;
}
.pr_detail_btn {padding: 8px 5px;font-size: 8px;width: 100%;border-radius: 5px;}
li.sec_pg_img_li {
  width: 100%;
  height: 140px;
}
.clear {
margin-left: 25px;
}
}

@media only screen and (min-width: 320px) and (max-width: 358px) {
  p.uptxt {
      font-size: 0.7rem;
  }
  p.lowtxt {
    font-size: 0.7rem;
  }
  div.social-icon {
    width: 319px;
  }
div.details {
  padding: 20px 5px;
}
div.icon {
  margin: 0 10px 0px 22px;
}
span.notif_enqlist {/* position: absolute; */top: 22px;right: 17px;font-size: 12px;}
div.Mainfooter {
  padding: 0px 0px;
  width: 100%;
  text-align: center;
}
.form-container {
  width: 78vw;
  padding: 5px 20px;
}
/* .topnav {
  margin: 0 0px;
  padding: 17px 5px;
} */
.form-popup {
  left: 5%;
}
.txt-foot p {
  font-size: 11px;
  margin-bottom: 5px;
  margin-left: 20px;
  color: rgb(161, 161, 161);
}
p#p-size{
  font-size: 12px;
}
#shopping-bag {
  margin-left: 1.9em;
  margin-right: 15px;
}

.pg5_notif_sec2 {
  width: 68%;
  margin-left: 100px;
  font-size: 0.6em;
}
button.pg5_notif_button1 {
  width: 98px;
  height: 23px;
  padding: 2px;
  margin-right: 8px;
}
.pg5_notif_tickmark img.vector {
  top: 5px;
  left: 6px;
}

/* product list  */

ol.product_solo_cont {
}
.product_img {
}
.price_filter {
  padding: 15px;
}
li.sec_pg_img_li {
  width: 140px;
  height: 140px;
}
.small_img {
  width: 25px;
}
.btn-2 {
  padding: 8px 15px;
  left: 5%;
}
.pr_detail_btn {
padding: 10px 10px;
font-size: 10px;
}
li.sec_pg_ol_li4 {
padding: 0px 5px;
}
.sec_pg_ol_input {
width: 22px;
}

/* enquiry list  */
p.enqlist-title {
  width: 125%;
}
.enqlist-input input[type="number"] {
  width: 29px;
}
.btn {
  margin: 0px 0px 20px 0px;
  padding: 10px 20px;
}
.logo {
  width: 150px;
}
.topnav input[type=text] {
    width: 110px;
  }
h4.product_heading {
    font-size: 0.7em;
    line-height: 1.5em;
    letter-spacing: 0;
}
}
