@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* ########################################## navbar ########################################### */
.logo{
    width: 150px;
    height: 50px;
    padding: 5px 5px 20px 5px;
}
.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 1200px; */
    margin: 0 35px;
    padding: 15px 5px;
    /* overflow: hidden; */
}
.topnav input[type=text]{
    padding: 10px 17px;
    /* margin-top: 8px; */
    font-size: 17px;
    border: none;
    width: 300px;
    background-color: #ddd;
    outline: none;
    position: relative;
}
.topnav .search-container button {
    float: right;
    padding: 10px 10px;
    /* margin-top: 8px; */
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
}
.topnav a{
    text-decoration: none;
    color: black;
}
#shopping-bag{
    margin-left: 6px;
}
/* ################################# home section ##############################################*/
#home{
    display: flex;
    flex-direction: column;
    /* padding: 3px 200px; */
    height: 500px;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* filter: blur(2px); */
    /* opacity: 0.5; */

}
/*################################## 2nd section Contact Us ###################################*/
section.container{
    margin: 0 50px;
}
/* ******* contact us ********* */
div.firstfoot-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
/******** social media icons ****** */
div.social-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-left: 28%;
}
.social a{
    text-decoration: none;
}
.social #insta{
    color: black;
}
div.details{
    display: flex;
    flex-direction: row;
    /* margin-left: 20px; */
    margin: 30px 0 30px 15px;
    padding: 20px 15px;
}
p{
    margin-left: 6px;
    font-size: 16px;
}
p.uptxt{
    font-size: 12px;
    padding-top: 5px;
    color: rgb(161, 161, 161);
}

.fa-facebook, .fa-twitter, .fa-instagram{
    color: black;
}
/* ########################### Footer ################################ */
footer{
    margin: 0 50px;
}
div.Mainfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}
.first-foot1,.txt-foot{
    /* margin-left: 30px; */
    margin: 30px 0 30px 15px;
    padding: 20px 20px;
}
.txt-foot p{
    font-size: 14px;
    color: rgb(161, 161, 161);
}
